// Navigation Styles here

header {
    width: 53%;
    margin: 0 auto;
    display: flex;
    // background: yellow;
    border-bottom: 2px dotted lightgray;


    .navheader {
        display: flex;
        width: 80%;
        // border: 1px solid red;
        justify-content: flex-end;
        padding: 15px;



    }

    nav a {
        margin: 10px;
        text-decoration: none;
        // background: pink;
        font-size: 1.5em;
        color: black;

    }

}